<!-- app/views/meets/_form.html.erb -->
<%= form_with(model: meet, local: true) do |form| %>


  <%= form.hidden_field :doctor_id, value: @doctor.id %>
  <%= form.hidden_field :user_id, value: @user.id %>

  <div class="field">
    <% if flash[:alert] %>
    <% end %>
    <h2 class="h2_meet"><%=meet.doctor.first_name %>
    <%=meet.doctor.last_name %></h2>
    <%=meet.doctor.specialty %>



    <h2 class="h2_meet"><%=meet.user.first_name %>
      <%=meet.user.last_name %></h2>



    <%= form.label :appointment_date_time %><br>
    <%= form.datetime_local_field :appointment_date_time, step:1800 %>



    <%= form.submit 'Записатись', class: 'button1' %>


  </div>



<% end %>
